@{
    ViewBag.Title = "eCampusPlus Plateforme";
}
<br/>
<br/>
<br/>
<br/>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<div>
    <div class="content-header content-header-media">
        <div class="header-section">
            <div class="row">
                <div class="col-md-4 col-lg-6 hidden-xs hidden-sm">
                    <img src="~/Content/logoecampusplus.png" class="animation-pulseSlow">
                    <h1> <em><strong>eCampusPlus</strong> en action</em><br></h1>
                </div>
                <div class="col-md-8 col-lg-6">
                    <div class="row text-center">
                        <div class="col-xs-4 col-sm-3">
                            <h2 class="animation-hatch">
                                <strong>?</strong><br>
                                <small><i class="fa fa-thumbs-o-up"></i> Great</small>
                            </h2>
                        </div>
                        <div class="col-xs-4 col-sm-3">
                            <h2 class="animation-hatch">
                                <strong>?</strong><br>
                                <small><i class="fa fa-heart-o"></i> Likes</small>
                            </h2>
                        </div>
                        <div class="col-xs-4 col-sm-5">
                            <h2 class="animation-hatch">
                                <strong>Let's GO!!!!</strong><br>                               
                                <small><i class="fa fa-arrow-right fa-2x" onclick="javascript:gotoDemo()"></i></small>
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <img src="~/Content/proui/img/placeholders/headers/dashboard_header.jpg" alt="header image" class="animation-pulseSlow">                
    </div>  
    
</div>
<div id="eCampusPlusLogo" style="display:none">
    <br/>
    <br/>
    <img src="~/Content/logoecampusplus.png" id="eCampusPlusLogoImg">
    <img src="~/Content/logoecampusplus.png" id="eCampusPlusLogoImg1" style="display:none">
    <img src="~/Content/logoecampusplus.png" id="eCampusPlusLogoImg2" style="display:none">
    <img src="~/Content/logoecampusplus.png" id="eCampusPlusLogoImg3" style="display:none">
    <img src="~/Content/logoecampusplus.png" id="eCampusPlusLogoImg4" style="display:none">
    <img src="~/Content/logoecampusplus.png" id="eCampusPlusLogoImg5" style="display:none">
    
</div> 
<script>
    function gotoDemo() {

        $('#eCampusPlusLogo').fadeIn(1000);
        setTimeout(function () {
            $('#eCampusPlusLogoImg1').css({
                transform: 'rotate(60deg)'
            });
            //$('#eCampusPlusLogoImg').fadeOut();
            $('#eCampusPlusLogoImg1').fadeIn(1000);
            setTimeout(function () {
                $('#eCampusPlusLogoImg2').css({
                    transform: 'rotate(1200deg)'
                });
                //$('#eCampusPlusLogoImg1').fadeOut();
                $('#eCampusPlusLogoImg2').fadeIn(1000);
                setTimeout(function () {
                    $('#eCampusPlusLogoImg3').css({
                        transform: 'rotate(180deg)'
                    });
                    //$('#eCampusPlusLogoImg2').fadeOut();
                    $('#eCampusPlusLogoImg3').fadeIn(1000);
                    setTimeout(function () {
                        $('#eCampusPlusLogoImg4').css({
                            transform: 'rotate(240deg)'
                        });
                        //$('#eCampusPlusLogoImg3').fadeOut();
                        $('#eCampusPlusLogoImg4').fadeIn(1000);
                        setTimeout(function () {                            
                            $('#eCampusPlusLogoImg5').css({
                                transform: 'rotate(300deg)'
                            });
                            //$('#eCampusPlusLogoImg4').fadeOut();
                            $('#eCampusPlusLogoImg5').fadeIn(1000);
                            setTimeout(function () {
                                $('#eCampusPlusLogo').fadeOut();
                                setTimeout(function () {
                                    window.location.href = "/Content/website/index.html";
                                }, 700);
                            }, 100);
                        }, 100);
                    }, 100);
                }, 100);
            }, 100);
        }, 100);
        
        

        
        
        
        
        
        
        //
        //
           
    }

</script>