@{
    ViewBag.Title = "eCampusPlus Plateforme";
}
<br/>
<br/>
<br/>
<br/>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<div>
    <div class="content-header content-header-media">
        <div class="header-section">
            <div class="row">
                <div class="col-md-4 col-lg-6 hidden-xs hidden-sm">
                    <img src="~/Content/logoecampusplus.png" class="animation-pulseSlow">
                    <h1> <em><strong>eCampusPlus</strong> en action</em><br></h1>
                </div>
                <div class="col-md-8 col-lg-6">
                    <div class="row text-center">
                        <div class="col-xs-4 col-sm-3">
                            <h2 class="animation-hatch">
                                <strong>?</strong><br>
                                <small><i class="fa fa-thumbs-o-up"></i> Great</small>
                            </h2>
                        </div>
                        <div class="col-xs-4 col-sm-3">
                            <h2 class="animation-hatch">
                                <strong>?</strong><br>
                                <small><i class="fa fa-heart-o"></i> Likes</small>
                            </h2>
                        </div>
                        <div class="col-xs-4 col-sm-5">
                            <h2 class="animation-hatch">
                                <strong>Let's GO!!!!</strong><br>                               
                                <small><i class="fa fa-arrow-right fa-2x" onclick="javascript:gotoDemo()"></i></small>
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <img src="~/Content/proui/img/placeholders/headers/dashboard_header.jpg" alt="header image" class="animation-pulseSlow">                
    </div>  
    
</div>
<div id="eCampusPlusLogo" style="display:none">
    <br/>
    <br/>
    <img src="~/Content/logoecampusplus.png" id="eCampusPlusLogoImg">
    <br/>
    <i class="fa fa-spinner fa-4x fa-spin" style="margin-left:55px"></i>
</div> 
<script>
    function gotoDemo() {

        
        $('#eCampusPlusLogo').fadeIn(500);

        $("#eCampusPlusLogo").animate({
            'margin-left' : "+=1000px"
        },500);

        $("#eCampusPlusLogo").animate({
            'margin-left': "-=500px"
        }, 250);

        $("#eCampusPlusLogo").animate({
            'margin-top': "-=50px"
        }, 100);

        $("#eCampusPlusLogo").animate({
            'margin-top': "+=50px"
        }, 100);

        setTimeout(function () {
            $('#eCampusPlusLogo').fadeOut(500);
            window.location.href = "/Content/website/index.html";
        }, 2000);

           
    }

</script>